/* CAROUSEL */
#carousel {
  margin-top: px;
}

/* PRODUCTORES DESTACADOS */
#featuredProducers {
  margin-top: 60px;
  background-color: #f3e9b4;

}

#h1FeaturedProducers {
  margin-top: 5px;
}

/* NOSOTROS */
#aboutUs {
  margin-top: 60px;
}

.h1AboutUsHome {
  margin-top: 10px;
  color: black;
}

.pAboutUs {
  /*  margin-left: 10px; */
  color: black;
  font-weight: 700;
  /*  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; */
  /* modificar el parrafo para que se vea a lo largo */
}
