#containerPanelAdmin {
  min-height: 750px;
  margin-top: 39px;
  margin-left: 200px;
  background: white;
}

.containerBlockPanelAdmin {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  background: white;
}

.block {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  padding: 15px 20px;
  width: 100%;
  /* max-width: 1280px; */
  /* background: white; */
}

.buttonCreateproduct {
  border-bottom: solid 1px #ddd;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.td {
  display: table-cell;
  text-align: center !important;
  background: #f44d4d;
  border-color: #f44d4d;
  color: white;
  padding: 5px 10px;
}

.tdlist {
  border-collapse: collapse;
  display: table-cell;
  text-align: center !important;
  background: #f44d4d;
  border-color: #f44d4d;
  color: white;
  padding: 5px 10px;
}
