/* ¿QUIENES SOMOS? */
.AboutUsBanner{
  height: 176px;
  line-height: 176px;
  background-position: 0 128%;
  background-size: cover;
}

/* SOBRE NOSOTROS */
.AboutUs {
  margin-top: 60px;
}

.AboutUsh1 {
  margin-bottom: 30px;
  color: black;
}

.AboutUsparagraph {
  margin-left: 20px; 
  color: black;
  font-weight: 700;
  /*  text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; */
  /* modificar el parrafo para que se vea a lo largo */
}
