.linksFooter {
    margin-left: 220px;
    padding-top: 20px;

}

.contactsFooter{
    margin-left: 160px;
    padding-top: 20px;
}

.containerFooter {
    display:flex;
    color:black;
    font-size: 15px;
    font-weight:bolder;
    display:flex;
    background-color:#E9ECEF;
    
} 