/* Banner-Titulo */
.bannerIndexMakeYourOrder{
    height: 176px;
    line-height: 176px;
    background-position: 0 128%;
    background-size: cover;
 
}

.bannerTitle{
    text-align: center;
    display: block;
   
}

#h1MakeYourOrder{
    color: #fff;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 15px;
}

